<div>
    <h1>Lista de Productos</h1>
</div>

<div>
    {{#each products}}
    <div class="card">
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>
        <p>{{this.img}}</p>
        <p>{{this.stock}}</p>
    </div>
    {{/each}}
</div>